<div class="card">    
    <div class="card-header">    
      {{pageTitle}}    
    </div>    
      
    <div class="card-body">    
      <form novalidate    
            (ngSubmit)="saveEmployee()"    
            [formGroup]="employeeForm">    
      
        <div class="form-group row mb-2">    
          <label class="col-md-3 col-form-label"    
                 for="employeeNameId">Employee Name</label>    
          <div class="col-md-7">    
            <input class="form-control"    
                   id="employeeNameId"    
                   type="text"    
                   placeholder="Name (required)"    
                   formControlName="name"    
                   [ngClass]="{'is-invalid': displayMessage.Name }" />    
            <span class="invalid-feedback">    
              {{displayMessage.name}}    
            </span>    
          </div>    
        </div>    
      
        <div class="form-group row mb-2">    
          <label class="col-md-3 col-form-label"    
                 for="citynameId">City</label>    
          <div class="col-md-7">    
            <input class="form-control"    
                   id="citynameid"    
                   type="text"    
                   placeholder="Cityname (required)"    
                   formControlName="cityname"    
                   [ngClass]="{'is-invalid': displayMessage.cityname}" />    
            <span class="invalid-feedback">    
              {{displayMessage.cityname}}    
            </span>    
          </div>    
        </div>    
      
        <div class="form-group row mb-2">    
          <label class="col-md-3 col-form-label"    
                 for="addressId">Address</label>    
          <div class="col-md-7">    
            <input class="form-control"    
                   id="addressId"    
                   type="text"    
                   placeholder="Address"    
                   formControlName="address" />    
          </div>    
        </div>    
      
        <div class="form-group row mb-2">    
          <label class="col-md-3 col-form-label"    
                 for="genderId">Gender</label>    
          <div class="col-md-7">    
            <select id="genderId" formControlName="gender" class="form-control">    
              <option value="" disabled selected>Select an Option</option>    
              <option value="Male">Male</option>    
              <option value="Female">Female</option>    
            </select>    
      
          </div>    
        </div>    
      
        <div class="form-group row mb-2">    
          <label class="col-md-3 col-form-label"    
                 for="companyId">Company</label>    
          <div class="col-md-7">    
            <input class="form-control"    
                   id="companyId"    
                   type="text"    
                   placeholder="Company"    
                   formControlName="company" />    
          </div>    
        </div>    
      
        <div class="form-group row mb-2">    
          <label class="col-md-3 col-form-label"    
                 for="designationId">Designation</label>    
          <div class="col-md-7">    
            <input class="form-control"    
                   id="designationId"    
                   type="text"    
                   placeholder="Designation"    
                   formControlName="designation" />    
          </div>    
        </div>    
      
        <div class="form-group row mb-2">    
          <div class="offset-md-2 col-md-6">    
            <button class="btn btn-primary mr-3"    
                    style="width:80px;"    
                    type="submit"    
                    [title]="employeeForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"    
                    [disabled]="!employeeForm.valid">    
              Save    
            </button>    
            <button class="btn btn-outline-secondary mr-3"    
                    style="width:80px;"    
                    type="button"    
                    title="Cancel your edits"    
                    [routerLink]="['/employees']">    
              Cancel    
            </button>    
            <button class="btn btn-outline-warning" *ngIf="pageTitle != 'Add Employee'"    
                    style="width:80px"    
                    type="button"    
                    title="Delete this product"    
                    (click)="deleteEmployee()">    
              Delete    
            </button>    
          </div>    
        </div>    
      </form>    
    </div>    
      
    <div class="alert alert-danger"    
         *ngIf="errorMessage">{{errorMessage}}    
    </div>    
  </div>   